<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1  shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blockchain</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script type="text/javascript" src="{{url_for('static',filename='handlebar.js')}}"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" rel="stylesheet">
        <link href="{{url_for('static',filename='home.css')}}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static',filename='block.js')}}"></script>

    </head>
    <body>
            <nav class="navbar navbar-inverse bg-dark">
                    <!-- Brand -->
                    <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="navbar-brand" style="color: white" href="/">Sensorchain</a>
                        </div>
                    <ul class="nav navbar-nav navbar-brand navbar-right">
                        <li><a style="color: white;text-decoration: none" href="/block">Block Representation</a></li>
                    </ul>
                    </nav>
             <div id="main"></div>
            {% raw %}
                <script type="text/x-handlebars-template" id="sb">
                   <div id="block">
                       {{#each datum}}
                           <div class="bd">
                              <div class="bsd container">
                                  <div class="jumbotron" style="padding: 24px">
                               <form name="blockd" class="form-horizontal" id="frm{{@index}}" onsubmit="displayminedata('frm{{@index}}')">
                                   <div class="bsdf">
                                     <div class="form-group">
                                       <label  class=" col-sm-2" for="ind-{{@index}}">Index</label>
                                       <div class="col-sm-10">
                                       <input type="text" readonly value="{{index}}" name="index" class="form-control" id="ind-{{@index}}"/>
                                    </div>
                                   </div>
                                   <div class="form-group">
                                        <label  class=" col-sm-2" for="time-{{@index}}">Timestamp</label>
                                        <div class="col-sm-10">
                                        <input type="text" readonly value="{{timestamp}}" name="timestamp" class="form-control" id="time-{{@index}}"/>
                                     </div>
                                    </div>
                                   <div class="form-group">
                                        <label class=" col-sm-2" for="hash-{{@index}}">Hash</label>
                                         <div class="col-sm-10">
                                        <input type="text" readonly value="{{hash}}" name="hash"class="form-control" id="hash-{{@index}}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class=" coll-sm-8" for="prevhash-{{@index}}">Previous Hash</label>
                                             <div class="col-sm-10">
                                             <input type="text"  readonly value="{{prevhash}}" name="prevhash" class="form-control" id="prevhash-{{@index}}"/>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                                <label class=" col-sm-2" for="nonce-{{@index}}">Nonce</label>
                                                 <div class="col-sm-10">
                                                 <input type="text" readonly value="{{nonce}}" name="nonce" class="form-control" id="nonce-{{@index}}"/>
                                                </div>
                                            </div>
                                            {{#each data}}
                                        <div class="form-group">
                                          <label class="col-sm-8" for="data-{{@../index}}-{{@key}}">{{{@key}}}</label>
                                          <div class="col-sm-10">
                                          <input type="text" value={{{this}}} name="{{@key}}" class="form-control" id="data-{{@../index}}-{{@key}}"/>
                                          </div>
                                        </div>
                                    
                                        {{/each}}
                                       </div>
                                       <!-- <div class="mb">
                                            
                                       </div> -->
                                       <div class="mb">
                                           <input type="submit"  class="btn btn-primary" value="Mine"/>
                                       </div>
                                    </form>
                                    </div>
                                            </div>
                                   </div>
                           {{/each}}
                       </div>

                </script>
            {% endraw %}
            <script>
               d.init()
            </script>
    </body> 
</html>